body {
            background-color: BurlyWood;
        }

        .editor2D {
            background-image: linear-gradient(top, rgba(0, 0, 0,0) 0, rgba(0, 0, 0,  0.4) 12px);
            text-align: center;
            padding: 30px 20px 90px 20px;
        }

        .editor2D.alone {
            padding: 80px 20px 90px 20px;
        }

        .editor2D .wrapper {
            width: 100%;
            max-width: 950px;
        }

        .editor2D h2 {
            font-size: 47px;
            margin: 10px 0 14px 0;
            text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
            width: 76%;
            float: left;
        }

        #alerts {
            display: none;
            margin: 0 0 15px 0;
            background: white;
            border: 1px solid gray;
            padding: 10px 10px 10px 10px;
            border-radius: 4px;
            line-height: 1.4;
        }

        .editor2D .mainCanvas,
        .editor2D .secondaryCanvas,
        .editor2D #advancedoptionframe {
            border-radius: 5px;

            box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5) inset, -1px -1px 0px rgba(255, 255, 255, 0.6) inset;
            position: relative;
        }

        .editor2D .mainCanvas {
            height: 635px;
            width: 650px;
            background: rgba(0, 0, 0, 0.6);
            display: inline-block;
        }

        .editor2D .mainCanvas canvas {
            position: absolute;
            top: 37px
        }

        .editor2D aside {
            float: left;
            width: 35%
        }

        .editor2D .secondaryCanvas {
            width: 100%;
            height: 360px;
            background: rgba(0, 0, 0, 0.6);
            display: inline-block
        }

        .editor2D .secondaryCanvas .topOverlay {
            text-align: center
        }

        #loadingframe {
            position: absolute;
            top: 48%;
            left: 46%;
            visibility: hidden;
        }

        .editor2D .topOverlay,
        .editor2D .bottomOverlay {
            display: block;
            position: absolute;
            background: rgba(0, 0, 0, 0.2);
            background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
            color: rgba(255, 255, 255, 0.8);
            text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
            left: 1px;
            right: 1px;
            padding: 12px;
            font-size: 14px;
            box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5) inset, 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
            font-family: 'Helvetica Neue'Arial, sans-serif;
        }

        .editor2D .topOverlay {
            border-radius: 5px 5px 0 0;
            top: 1px;
            padding: 4px 12px;
            min-height: 28px;
            line-height: 1.8
        }

        .editor2D .bottomOverlay {
            border-radius: 0 0 5px 5px;
            bottom: 1px;
            padding: 0;
            z-index: 2;
        }
		.scaleOverlay{
			border-radius: 0 0 5px 5px;
            bottom: 20px;
            padding: 0;
            z-index: 0;
		
		}


        .editor2D .tools .tool,
        .editor2D .tools .tool:active,
        .editor2D .tools .tool:link,
        .editor2D .tools .tool:hover {
            top: 1px;
            bottom: 1px;
            width: 70px;
            border: none;
            border-left: 1px solid rgba(255, 255, 255, 0.25);
            border-right: 1px solid rgba(0, 0, 0, 0.5);
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            margin: 0;
            float: left;
            display: block;
            bottom: 0px;
            height: 70px;
            text-align: center;
        }


        .editor2D .tools .tool:last-of-type {
            box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.25)
        }

        .editor2D .tools .tool:first-of-type {
            border-left: 1px solid rgba(255, 255, 255, 0.1);
        }

        .editor2D .tools .tool:hover {
            background-color: rgba(255, 255, 255, 0.2);
            text-decoration: none
        }

        .editor2D .tools .tool:active,
        .editor2D .tools .tool.active {
            background-color: rgba(0, 0, 0, 0.2);
            background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
            color: #29ABE2;
        }

        .editor2D .tools .tool.active .icon {
            background-position-y: -311px;
        }

        .editor2D .tools .tool.active .legend {
            color: #29CCE2;
        }

        .editor2D .tools .legend {
            left: 0px;
            right: 0px;
            display: block;
            width: 100%;
            text-align: center;
            margin-top: -2px;
            font-size: 0.75em;
            color: #ccc;
            font-weight: bold;
            font-family: Helvetica, Arial
        }

        .tracedown {
            position: absolute;
            right: -1px;
            bottom: 71px;
            width: 72px;
            display: none;
            z-index: 50;
            line-height: 22px;
            background: rgba(0, 0, 0, 0.8);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .tracedown a {
            display: block;
            height: auto !important;
            padding: 5px 4px;
            border-bottom: 1px solid #222;
        }

        .tracedown a:hover,
        .tracedown a:active {
            color: #fff;
            background: #111;
            text-decoration: none;
        }

        #sketcharea,
        #tracelayer {
            top: 10;
            left: 0;
            position: absolute;
        }

        #tracelayer {
            /*z-index:100;*/
        }

        #sketcharea {
            z-index: 1;
        }

        .editor2D .tools .tool.active .legend {
            color: #29CCE2;
        }

        .editor2D .tools .legend {
            left: 0px;
            right: 0px;
            display: block;
            width: 100%;
            text-align: center;
            margin-top: -2px;
            font-size: 0.75em;
            color: #ccc;
            font-weight: bold;
            font-family: Helvetica, Arial
        }

        #tracelayer {
            background: rgba(0, 0, 0, 0.6);
        }

        /*editor2D mode CSS settings*/
        .editBtn {
            background-color: rgba(20, 43, 224, 0.61);
            border: none;
            color: goldenrod;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
            border: 10%;
            position: absolute;
            font-weight: bold
        }

       

        /* Tutorial slide show CSS settings */
        /* Slideshow container */
        .slideshow-container {
            display: none; /* Hidden by default */
  			position: fixed; /* Stay in place */
  			z-index: 100; /* Sit on top */
  			left: 0;
  			top: 0;
  			width: 60%; /* Full width */
  			height: 100%; /* Full height */
  			overflow: auto; /* Enable scroll if needed */
  			background-color: rgb(0,0,0); /* Fallback color */
  			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

		/* slideshow Content */
		.slideshow-content {
  			background-color: #fefefe;
			z-index: 100;
  			margin: auto;
  			padding: 20px;
  			border: 1px solid #888;
  			width: 80%;
		}


        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }


        .active,
        .dot:hover {
            background-color: #717171;
        }

        

